@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=The+Nautigal&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}

body {
  background: #121212;
  color: #fff;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.title img {
  height: 100px;
}

.container {
  background-color: #121212;
  width: 50rem;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: .5rem 0;
}

p {
  font-size: 1.2rem;
}

.div {
  border: #ffffff 1px solid;
}

#div-01 {
  background-color:#00C853;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
#div-02 {
  background-color:#00C853;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

#div-02 a {
  text-decoration: none;
  color: #fff;
}

#div-02 a:hover {
  color: #e0e0e0;
}
#div-02 ul {
  list-style: inside;
  font-size: 1.2rem;
}

#div-03 {
  background-color:#00C853;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}

#div-03 p {
  margin: .5rem 0;
}

#div-03 button {
  background-color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#div-03 button a {
  text-decoration: none;
  color: #000;
}

#div-03 button:hover {
  background-color: #e0e0e0;
  color: #000;
}

@media screen and (min-width: 480px) {

}