/*====== GENERAL =============================================*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px = 1rem */

  /* COLORS */
  --hue: 144;
  --primary-color: hsla(var(--hue), 100%, 26%);
  --secondary-color: hsla(0, 0%, 96%, 1);
  --font-gray: rgb(57, 61, 66);
  --font-black: hsl(210, 11%, 15%);

  --brand-light: hsla(calc(var(--hue) + 4), 38%, 94%, 1);
  --brand-dark: hsl(calc(var(--hue) - 11), 47%, 26%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: manrope;
  font-size: 1.6rem;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

img {
  width: 100%;
}

/*====== HEADER =============================================*/

.header {
  height: 5.5rem;
  background-color: var(--primary-color);
  text-align: center;

  display: flex;
  align-items: center;
}

.header a {
  font-weight: 800;
  font-size: 3.4rem;
  line-height: 3.3rem;

  text-decoration: none;

  color: var(--secondary-color);
}

/*====== ADS =============================================*/

.ads {
  margin-block: 2.4rem;
}

#img-desktop {
  display: none;
}

/*====== HOME =============================================*/
.title h1 {
  color: var(--font-gray);
  font-size: 3.2rem;
  font-weight: 800;
  text-align: center;
  margin-block: 2.4rem;
}

#home .cards .card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.4rem;

  background-color: var(--brand-light);
  border: 1px solid hsl(calc(--hue) - 2, 14%, 85%);

  margin-block: 1.2rem;
}

#home .cards .card h3 {
  color: var(--primary-color);
  margin-block: 1rem;

  font-size: 2rem;
}

#home .cards .card p {
  color: var(--font-gray);
  line-height: 150%;

  font-size: 1.8rem;
}

#home .card .button {
  display: flex;
  margin-top: 1rem;

  width: fit-content;

  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 800;
  padding: 1.6rem;

  background-color: var(--primary-color);
  border-radius: 0.4rem;

  transition: background-color 0.2s;
}

#home .card .button:hover {
  background-color: var(--brand-dark);
}

/*====== FOOTER =============================================*/

.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);

  padding-block: 3.8rem;
}

/*====== RESPONSIVE =============================================*/

@media (min-width: 1024px) {
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
  }

  #img-mobile {
    display: none;
  }

  #img-desktop {
    display: block;
    max-width: 24rem;
    margin: 0;
    padding-top: 2.4rem;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  .card h3 {
    font-size: 2.6rem;
  }
}
